body {
  text-align: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h2,
h3 {
  font-weight: 900;
  padding-bottom: 2rem;
}

/* containers and sections */
.container-fluid {
  padding: 5% 15%;
}

.colour-section {
  background-color: #de7119;
  color: #dee3e2;
}

.white-section {
  background-color: #dee3e2;
  color: #222222;
}

/* diagonal background */
.big-intro {
  background-color: #de7119;
  background-image: -webkit-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -webkit-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -o-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -moz-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -ms-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  min-height: 1000px;
  /* navbar */
  /* intro */
}

.big-intro .navbar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6rem;
}

.big-intro .nav-item {
  padding: 0 18px;
}

.big-intro .nav-link {
  font-size: 1.5rem;
}

.big-intro .nav-item:last-of-type {
  padding-right: 0;
}

@media (max-width: 1028px) {
  .big-intro .nav-item:last-of-type {
    padding: inherit;
  }
}

.big-intro .navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.big-intro .navbar-dark .navbar-nav .nav-link:focus,
.big-intro .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.big-intro .name {
  color: #dee3e2;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 20%;
  text-transform: uppercase;
  text-align: right;
}

@media (max-width: 1028px) {
  .big-intro .name {
    margin: 2.5rem;
    color: #222222;
    text-align: center;
  }
}

.big-intro .profile-picture {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 75%;
  float: left;
}

@media (max-width: 1028px) {
  .big-intro .profile-picture {
    float: none;
  }
}

.big-intro .title {
  color: #dee3e2;
  font-weight: 300;
  margin-top: 2.5rem;
  text-align: right;
}

@media (max-width: 1028px) {
  .big-intro .title {
    margin: auto;
    color: #222222;
    text-align: center;
  }
}

/* about section */
.about-section .container-fluid {
  padding-top: 0;
  margin-top: -300px;
}

@media (max-width: 1028px) {
  .about-section .container-fluid {
    margin-top: -150px;
  }
}

/* portfolio */
.portfolio .left-box {
  border-right: 3px solid #222222;
}

@media (max-width: 1028px) {
  .portfolio .left-box {
    border: none;
  }
}

.portfolio .portfolio-image {
  border: 3px solid #222222;
  border-radius: 25%;
}

.portfolio .media {
  visibility: hidden;
}

@media (max-width: 1028px) {
  .portfolio .media {
    visibility: visible;
    color: #222222;
    width: 30%;
    border: 1px solid;
  }
}

@media (max-width: 1028px) {
  .portfolio .portfolio-item {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/* icons */
.contact-icon {
  color: #dee3e2;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.5rem;
}
