$brightColour:#de7119;
$alternateColour: #116979;
$lightColour: #dee3e2;
$darkColour: #222222;



body {
  text-align: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h2,
h3 {
  font-weight: 900;
  padding-bottom: 2rem;
}

/* containers and sections */

.container-fluid {
  padding: 5% 15%;
}

.colour-section {
  background-color: $brightColour;
  color: $lightColour;
}

.white-section {
  background-color: $lightColour;
  color: $darkColour;
}

/* diagonal background */

.big-intro {
  background-color: #de7119;
  background-image: -webkit-linear-gradient(65deg, $lightColour 50%, $brightColour 50%);
  background-image: -webkit-gradient(65deg, $lightColour 50%, $brightColour 50%);
  background-image: -o-linear-gradient(65deg, $lightColour 50%, $brightColour 50%);
  background-image: -moz-linear-gradient(65deg, $lightColour 50%, $brightColour 50%);
  background-image: -ms-linear-gradient(65deg, $lightColour 50%, $brightColour 50%);
  min-height: 1000px;

  /* navbar */
  .navbar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6rem;
  }

  .nav-item {
    padding: 0 18px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .nav-item:last-of-type {
    padding-right: 0;

    @media (max-width: 1028px) {
      padding: inherit;
    }

  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
  }

  /* intro */
  .name {
    color: $lightColour;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 20%;
    text-transform: uppercase;
    text-align: right;

    @media (max-width: 1028px) {

      margin: 2.5rem;
      color: $darkColour;
      text-align: center;



    }
  }

  .profile-picture {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 75%;
    float: left;

    @media (max-width: 1028px) {
      float: none;
    }

    ;

  }

  .title {
    color: $lightColour;
    font-weight: 300;
    margin-top: 2.5rem;
    text-align: right;

    @media (max-width: 1028px) {
      margin: auto;
      color: $darkColour;
      text-align: center;
    }
  }

}

/* about section */
.about-section {
  .container-fluid {
    padding-top: 0;
    margin-top: -300px;

    @media (max-width: 1028px) {
      margin-top: -150px;
    }
  }
}

/* portfolio */
.portfolio {
  .portfolio-item {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .left-box {
    border-right: 3px solid $darkColour;

    @media (max-width: 1028px) {
      border: none;
    }
  }

  .portfolio-image {
    width: 400px;
    border: 3px solid $darkColour;
    border-radius: 25%;
  }

  .media {
    visibility: hidden;

    @media (max-width: 1028px) {
      visibility: visible;
      color: $darkColour;
      width: 30%;
      border: 1px solid;
    }
  }

  @media (max-width: 1028px) {
    .portfolio-item {
      display: table;
      margin-top: 5%;
      margin-bottom: 5%;

      .portfolio-description {
        display: table-header-group;
      }

      .portfolio-entry {
        display: table-footer-group;
      }
    }
  }
}

/* icons */
.contact-icon {
  color: $lightColour;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.5rem;
}