body {
  text-align: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h2,
h3 {
  padding-bottom: 5%;
}

/* containers and sections */
.container-fluid {
  padding: 5% 15%;
}

.colour-section {
  background-color: #de7119;
  color: #dee3e2;
}

.white-section {
  background-color: #dee3e2;
  color: #116979;
}

/* diagonal background */
.big-intro {
  background-color: #de7119;
  background-image: -webkit-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -webkit-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -o-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -moz-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  background-image: -ms-linear-gradient(65deg, #dee3e2 50%, #de7119 50%);
  min-height: 1000px;
}

/* navbar */
.navbar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}
/* intro */
.name {
  color: #dee3e2;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 20%;
  text-transform: uppercase;
  text-align: left;
}

.profile-picture {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 75%;
  float: left;
}
.title {
  color: #dee3e2;

  font-weight: 300;
  margin-top: 2rem;
  text-align: left;
}
/* about section */
.about-section .container-fluid {
  padding-top: 0;
}

/* portfolio */

.left-box {
  border-right: 3px solid #116979;
}

.portfolio-image {
  border: 3px solid #116979;
  border-radius: 25%;
}

.media {
  visibility: hidden;
}

/* icons */

.contact-icon {
  color: #dee3e2;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.5rem;
}

/* responsive */
@media (max-width: 1028px) {
  .name {
    margin: 2.5rem;
    color: #116979;
  }
  .title {
    margin: auto;
  }
  .left-box {
    border: none;
  }
  .portfolio-item {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .media {
    visibility: visible;
    color: #116979;
    width: 30%;
    border: 1px solid;
  }
}
